section.about{
    color:black;
    padding: 50px;
    padding-top:150px;
    font-family: 'Core';
    margin-left: 30px;
    margin-top: 30px;
}

section.about>section{
    display: flex;
}
section.about>section>div>h3{
    font-size: 35px;
    margin-left: 0;
    margin-bottom: 20px;
}
section.about>section>div>p{
    color: #8c778c;
    padding: 5px;
    padding-right: 25px;
    line-height:30px;
}

section.about>section>div{
    width: 90%;
    text-align: justify;
}
section.about>section>div[data-leftside]{
    margin-top: 250px;
}
section.about>section>div[data-rightside]{
    margin-left: 180px;
    margin-top: 250px;
    width: 40%;
}
section.about>section>div[data-rightside]>p{
    margin-bottom: 10px;
}

section.about>section>div>progress{
    display: block;
    padding: 15px;
    width: 350px;
    position: relative;
}

section.about>section>div>progress[data-a]{
 top: 50px;
}

section.about>section>div>progress[data-b]{
    top: 55px;
}

section.about>section>div>progress[data-c]{
    top: 50px;
}

section.about>section>div>progress[data-d]{
    top: 55px;
}
section.about>section>div>progress[data-e]{
    top: 58px;
}
section.about>section>div>div.data-first{
    display: flex;
    padding: 15px;
    margin-top: 10px;
}
section.about>section>div>div.data-first>div.data-second{
    width: 180px;
    height: 150px;
    margin: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1px solid rgb(218, 212, 212);
    border-radius: 5px;
}
section.about>section>div>div.data-first>div.data-second>h1{
    font-size: 25px;
    margin: 10px 0;
}
section.about>section>div>div.data-first>div.data-second>h4{
    color: #8c778c;
    font-size: 16px;
    margin-top: 20px;
}
section.about>section>div>div.data-first>div.data-second>span{
    font-size: 25px;
    color: #766FFF;
}

