* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}

.header{
    background:linear-gradient(90deg, #766FFF 1.18%, #87EDFD 100%) ;
    color: whitesmoke;
    width: 100%;
    height: 100vh;
}
.head{
    display: flex;
    justify-content:space-between;
    z-index: 1;
}
.title{
     font-size: 25px;
     font-weight: bold;
     margin-top: 35px;
     margin-left: 40px;
}
.header>.head>.menu>ul{
    margin-left: 350px;
    margin-top: 25px;
}
.header>.head>.menu>ul>li{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 300ms linear;
    
}
.header>.head>.menu>ul>li>a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    width: inherit;
    height: inherit;
    font-size: 14px;
    transition: all 300ms linear;
}
.header>.head>.menu>ul>li>a:hover{
    color: #766FFF;
}
.header>.info{
    width: 90%;
    height: 780px;
    background-color: #FFFFFF;
    position: absolute;
    left: calc(50% - 45%);
    top: calc(50% - 15%);
    border-radius: 15px;
    padding: 20px;
    color: black;
    display: flex;
}
.header>.info>img{
    border-radius: 10px;
}
.header>.info>div{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 50px auto;
    padding: 40px;
    
}
.header>.info>div>h1{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
}
.header>.info>div>h4{
    margin-top: 20px;
}
.header>.info>div>.second{
    color: #8c778c;
    padding: 50px;
    line-height:30px;
    
}
.header>.info>div>span{
    display: inline-block;
    margin-right: auto;
    margin-left: 150px;
    margin-bottom: 20px;
    cursor: pointer;
    color: gray;
}
.header>.info>div>span>i{
    font-size: 25px;
    margin-right: 10px;
    color: #766FFF;
}
.header>.info>div>div{
    margin: 10px;
}
.header>.info>div>div>span{
    display: inline-block;
    background-color: #e7e7ee;
    width: 40px;
    height: 40px;
    line-height: 15px;
    text-align: center;
    margin: 5px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all 300ms linear;
    
}
.header>.info>div>div>span:hover{
    background:linear-gradient(90deg, #87EDFD 1.18%, #766FFF 100%) 
}
@media (max-width: 1270px){
    .header{
        height: 95vh;
    }
    .header>.info{
        height: 600px;
        padding: 15px;
        top: calc(50% - 20%);
     }
     .header>.head>.menu>ul{
        display: flex;
        margin-left: 45px;
    }
    .header>.info>div>h1{
        font-size: 45px;
    }
    .header>.info>div>h4{
        font-size: 20px;
    }
    .header>.info>div>.second{
        font-size: 16px;
        margin-top: 25px;
        padding: 20px;
    }
    .header>.info>div>span{
        margin-left: 60px;
        margin-bottom: 5px;
        font-size: 15px;
    }
}
@media (max-width: 1000px){
    .header{
        height: 90vh;
    }
    .header>.info{
        height: 550px;
        padding: 15px;
        top: calc(50% - 20%);
     }
     .header>.head>.menu>ul{
        display: flex;
        margin-left: 40px;
    }
    .header>.head>.menu>ul>li{
        padding: 0 23px;
    }
    .header>.info>div{
        margin: 0;
        padding: 5px;
    }
    .header>.info>img{
        height: 450px;
    }
    .header>.info>div>p{
        font-size: 16px;
    }
    .header>.info>div>h1{
        font-size: 35px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .header>.info>div>h4{
        margin-top: 15px;
        font-size: 18px;
        margin-bottom: -10px;
    }
    .header>.info>div>.second{
        font-size: 15px;
        margin-top: 25px;
        padding: 20px;
    }
    .header>.info>div>span{
        margin-left: 65px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    
}
@media (max-width: 800px){
    .header{
        height: 75vh;
    }
    .header>.info{
        height: 450px;
        padding: 10px;
        top: calc(50% - 20%);
     }
     .head{
        justify-content: center;
    }
    .title{
        margin-left: 5px;
    }
    .header>.head>.menu>ul{
        display: flex;
        margin-left: 30px;
    }
    .header>.head>.menu>ul>li{
        padding: 0 13px;
    
    }
    .header>.head>.menu>ul>li>a{
        font-size: 13px;
    }
    .header>.info>img{
        height: 350px;
    }
    .header>.info>div{
        margin: 0;
        padding: 3px;
    }
    .header>.info>div>p{
        font-size: 14px;
    }
    .header>.info>div>h1{
        font-size: 30px;
        margin-bottom: 8px;
        margin-top: 8px;
    }
    .header>.info>div>h4{
        margin-top: 15px;
        font-size: 16px;
        margin-bottom: -10px;
    }
    .header>.info>div>.second{
        font-size: 13px;
        margin-top: 15px;
        padding: 10px;
    }
    .header>.info>div>span{
        margin-left: 45px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    
}
@media (max-width: 550px){
    .header{
        height: 50vh;
    }
    .head{
        justify-content: center;
    }
    .title{
        margin-left: 5px;
    }
    .header>.info{
       height: 400px;
       padding: 10px;
       top: calc(50% - 25%);
    }
    .header>.head>.menu>ul{
        display: flex;
        margin-left: 20px;
    }
    .header>.head>.menu>ul>li{
        padding: 0 7px;
    
    }
    .header>.head>.menu>ul>li>a{
        font-size: 10px;
    }
    .header>.info>img{
        height: 300px;
    }
    .header>.info>div{
        margin: 0;
        padding: 1px;
    }
    .header>.info>div>p{
        font-size: 12px;
    }
    .header>.info>div>h1{
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .header>.info>div>h4{
        margin-top: 10px;
        font-size: 13px;
        margin-bottom: -5px;
    }
    .header>.info>div>.second{
        padding: 5px;
        line-height:20px;
        font-size: 12px;
        margin-top: 10px;
        
    }
    .header>.info>div>span{
        margin-left: 20px;
        margin-bottom: 2px;
        font-size: 12px;
    }
    .header>.info>div>span>i{
        font-size: 18px;
    }
    .header>.info>div>div>span>i{
        width: 25px;
        height: 25px;
        font-size: 18px;
        line-height: 5px;
    }
    
}

