div.news{
    background-color: #e7e7ee;
    padding: 20px;
}
div.news>h1{
    margin-top: 50px;
}
div.news>p{
    padding: 20px 270px;
    color: #8c778c;
    line-height:25px;
}
div.news>div.new{
    display: flex;
}
div.news>div.new>div{
    width: 350px;
    height: 340px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 150px;
}
div.news>div.new>div>span{
    font-size: 50px;
    color: lightgray;
    margin-left: 20px;
    cursor: pointer;
    transition: all 300ms linear;
}
div.news>div.new>div>span:hover{
    color: #766FFF;
}
div.news>div.new>div>h1{
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}
div.news>div.new>div>p{
    padding: 20px;
    color: #8c778c;
    line-height:20px;
    margin-top: 10px;
}