div.order{
    background-color: #e7e7ee;
    text-align: center;
    padding: 20px;
}
div.order>h1{
    margin-top: 50px;
}
div.order>p{
    padding: 20px 270px;
    color: #8c778c;
    line-height:25px;
}
div.order>div.data{
    display: flex;
}
div.order>div.data>div{
    width: 350px;
    height: 270px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 150px;
    text-align: start;
}
div.order>div.data>div>h1{
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 20px;
    padding: 15px;
}
div.order>div.data>div>p{
    padding: 15px;
    color: #8c778c;
    line-height:20px;
    margin-top: 10px;
}
div.order>div.data>div>span{
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
}
@media (max-width: 600px){
    div.order{
        padding: 5px;
        height: auto;
    }
    div.order>p{
        padding: 5px 15px;
    }
    div.order>div.data{
        flex-direction: column;
    }
    div.order>div.data>div{
        width: 350px;
        height: 350px;
        margin: 15px;
        margin-left: 60px;
    }
    
}