div.rate {
  background: linear-gradient(135deg, #656a7c, #4f5870);
  text-align: center;
  height: 50vh;
  padding: 50px;
}
div.rate > div.rate-head {
  color: white;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
}
div.rate > div.rate-bottom {
  padding: 32px 64px;
}
div.rate > div.rate-bottom > div.star > i {
  font-size: 2.6em;
  cursor: pointer;
  color: #292f3d;
  transition: color 0.5s;
}
div.rate > div.rate-bottom > div.star > i.in-rate {
  color: #ffcf87;
}
div.rate > div.rate-bottom > div.star > i.in-hover {
  color: rgba(255, 207, 135, 0.3);
}
@keyframes text-Extreme {
  0% {
    text-shadow: 2px 2px 3px rgb(238, 17, 17), 0 0 25px rgb(255, 255, 255),
      0 0 5px rgb(68, 0, 255);
  }
  25% {
    text-shadow: 2px 2px 3px rgb(93, 17, 233), 0 0 25px #ff9600,
      0 0 5px darkblue;
  }
  25% {
    text-shadow: 2px 2px 3px rgb(240, 186, 9), 0 0 25px rgb(255, 253, 244),
      0 0 5px rgb(209, 20, 124);
  }
  100% {
    text-shadow: 2px 2px 3px rgb(17, 238, 101), 0 0 25px #ff9600,
      0 0 5px rgba(48, 20, 209, 0.158);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .text-Extreme {
    animation-name: text-Extreme;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}
@media (max-width: 800px) {
  div.rate > div.rate-bottom > div.star > i {
    font-size: 2em;
  }
}
@media (max-width: 550px) {
  div.rate {
    width: 100%;
    height: auto;
    padding: 5px;
  }
  div.rate > div.rate-bottom > div.star > i {
    font-size: 1.5em;
  }
}
